# Cloudflare R2 Credentials
# Get these from your Cloudflare Dashboard -> R2 -> Manage R2 API Tokens
CF_ACCOUNT_ID=307f3f70a2b40674a26ff8d4bcdcb62e
R2_ACCESS_KEY_ID=b540521e274254a3d2ad4fe082dcf1a3
R2_SECRET_ACCESS_KEY=190db81f61b21f40d5550bbd4794debba17d06bd3ab4603b8511a559bc5daf71

# Admin Password
ADMIN_PASSWORD=admin123

# Firebase Config (Get these from Firebase Console)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Razorpay Payment Gateway
# Get these from Razorpay Dashboard -> Settings -> API Keys
RAZORPAY_KEY_ID=rzp_test_SOhJTRB4rqkU2y
RAZORPAY_KEY_SECRET=7X6eCsR0FRtAQMBolC4zWdxK
